In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [99]:
df=pd.read_csv(r"C:\Users\ROOPAL\testset.csv")

In [100]:
df.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [101]:
df.columns

Index(['datetime_utc', ' _conds', ' _dewptm', ' _fog', ' _hail',
       ' _heatindexm', ' _hum', ' _precipm', ' _pressurem', ' _rain', ' _snow',
       ' _tempm', ' _thunder', ' _tornado', ' _vism', ' _wdird', ' _wdire',
       ' _wgustm', ' _windchillm', ' _wspdm'],
      dtype='object')

In [102]:
df.isnull().sum()

datetime_utc         0
 _conds             72
 _dewptm           621
 _fog                0
 _hail               0
 _heatindexm     71835
 _hum              757
 _precipm       100990
 _pressurem        232
 _rain               0
 _snow               0
 _tempm            673
 _thunder            0
 _tornado            0
 _vism            4428
 _wdird          14755
 _wdire          14755
 _wgustm         99918
 _windchillm    100411
 _wspdm           2358
dtype: int64

In [103]:
df.count()

datetime_utc    100990
 _conds         100918
 _dewptm        100369
 _fog           100990
 _hail          100990
 _heatindexm     29155
 _hum           100233
 _precipm            0
 _pressurem     100758
 _rain          100990
 _snow          100990
 _tempm         100317
 _thunder       100990
 _tornado       100990
 _vism           96562
 _wdird          86235
 _wdire          86235
 _wgustm          1072
 _windchillm       579
 _wspdm          98632
dtype: int64

In [104]:
df.dropna(how="all",axis=1,inplace=True)

In [105]:
#observe the dropped column is the column with all null values
df.columns

Index(['datetime_utc', ' _conds', ' _dewptm', ' _fog', ' _hail',
       ' _heatindexm', ' _hum', ' _pressurem', ' _rain', ' _snow', ' _tempm',
       ' _thunder', ' _tornado', ' _vism', ' _wdird', ' _wdire', ' _wgustm',
       ' _windchillm', ' _wspdm'],
      dtype='object')

In [106]:
df[' _dewptm']

0          9.0
1         10.0
2         11.0
3         10.0
4         11.0
5         12.0
6         13.0
7         13.0
8         13.0
9         13.0
10        13.0
11        12.0
12        11.0
13        11.0
14        10.0
15        10.0
16        10.0
17        11.0
18        10.0
19        10.0
20         8.0
21         7.0
22         7.0
23         8.0
24        10.0
25        11.0
26        12.0
27        12.0
28        12.0
29        12.0
          ...
100960    21.0
100961    22.0
100962    22.0
100963    22.0
100964    21.0
100965    22.0
100966    21.0
100967    24.0
100968    21.0
100969    22.0
100970    18.0
100971    18.0
100972    20.0
100973    19.0
100974    19.0
100975    17.0
100976    15.0
100977    14.0
100978    12.0
100979    12.0
100980    18.0
100981    19.0
100982    14.0
100983    15.0
100984    16.0
100985    17.0
100986    14.0
100987    12.0
100988    15.0
100989    15.0
Name:  _dewptm, Length: 100990, dtype: float64

In [208]:
X=df[[' _tempm',' _hum',' _dewptm']]

In [209]:
X.isnull().sum()

 _tempm     673
 _hum       757
 _dewptm    621
dtype: int64

In [210]:
X.count()

 _tempm     100317
 _hum       100233
 _dewptm    100369
dtype: int64

In [212]:
X.fillna(method='ffill',inplace=True)

In [213]:
X.isnull().sum()

 _tempm     0
 _hum       0
 _dewptm    0
dtype: int64

In [214]:
df.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [206]:
df[' _conds'].unique()

array(['Smoke', 'Clear', 'Haze', 'Unknown', 'Scattered Clouds',
       'Shallow Fog', 'Mostly Cloudy', 'Fog', 'Partly Cloudy',
       'Patches of Fog', 'Thunderstorms and Rain', 'Overcast', 'Rain',
       'Light Rain', 'Light Drizzle', 'Drizzle', 'Mist', 'Volcanic Ash',
       'Thunderstorm', 'Light Thunderstorms and Rain',
       'Light Thunderstorm', 'Squalls', 'Heavy Rain', 'Light Haze',
       'Sandstorm', 'Widespread Dust', 'Funnel Cloud',
       'Heavy Thunderstorms and Rain', 'Heavy Thunderstorms with Hail',
       'Light Rain Showers', 'Thunderstorms with Hail', 'Partial Fog',
       'Light Fog', 'Heavy Fog', 'Blowing Sand', 'Light Hail Showers',
       'Light Sandstorm', 'Light Freezing Rain', 'Rain Showers'],
      dtype=object)

In [114]:
df[' _conds'].fillna(method='ffill',inplace=True)

In [115]:
df.columns

Index(['datetime_utc', ' _conds', ' _dewptm', ' _fog', ' _hail',
       ' _heatindexm', ' _hum', ' _pressurem', ' _rain', ' _snow', ' _tempm',
       ' _thunder', ' _tornado', ' _vism', ' _wdird', ' _wdire', ' _wgustm',
       ' _windchillm', ' _wspdm'],
      dtype='object')

In [145]:
#changing the categorical data to numeric data
new=pd.get_dummies(df[[' _conds']])

In [215]:
y=df[[' _fog']]

In [216]:
y.columns

Index([' _fog'], dtype='object')

In [217]:
y.shape

(100990, 1)

In [218]:
X.shape

(100990, 3)

In [219]:

# Splitting our data into test set and training set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [220]:
from sklearn.tree import DecisionTreeRegressor

In [221]:
regressor=DecisionTreeRegressor(random_state = 0)

In [222]:
regressor.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

In [223]:
new.head()

,_conds_Blowing Sand,_conds_Clear,_conds_Drizzle,_conds_Fog,_conds_Funnel Cloud,_conds_Haze,_conds_Heavy Fog,_conds_Heavy Rain,_conds_Heavy Thunderstorms and Rain,_conds_Heavy Thunderstorms with Hail,...,_conds_Scattered Clouds,_conds_Shallow Fog,_conds_Smoke,_conds_Squalls,_conds_Thunderstorm,_conds_Thunderstorms and Rain,_conds_Thunderstorms with Hail,_conds_Unknown,_conds_Volcanic Ash,_conds_Widespread Dust
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [224]:
new.count()

 _conds_Blowing Sand                     100990
 _conds_Clear                            100990
 _conds_Drizzle                          100990
 _conds_Fog                              100990
 _conds_Funnel Cloud                     100990
 _conds_Haze                             100990
 _conds_Heavy Fog                        100990
 _conds_Heavy Rain                       100990
 _conds_Heavy Thunderstorms and Rain     100990
 _conds_Heavy Thunderstorms with Hail    100990
 _conds_Light Drizzle                    100990
 _conds_Light Fog                        100990
 _conds_Light Freezing Rain              100990
 _conds_Light Hail Showers               100990
 _conds_Light Haze                       100990
 _conds_Light Rain                       100990
 _conds_Light Rain Showers               100990
 _conds_Light Sandstorm                  100990
 _conds_Light Thunderstorm               100990
 _conds_Light Thunderstorms and Rain     100990
 _conds_Mist                             100990
 _conds_Mostly Cloudy                    100990
 _conds_Overcast                         100990
 _conds_Partial Fog                      100990
 _conds_Partly Cloudy                    100990
 _conds_Patches of Fog                   100990
 _conds_Rain                             100990
 _conds_Rain Showers                     100990
 _conds_Sandstorm                        100990
 _conds_Scattered Clouds                 100990
 _conds_Shallow Fog                      100990
 _conds_Smoke                            100990
 _conds_Squalls                          100990
 _conds_Thunderstorm                     100990
 _conds_Thunderstorms and Rain           100990
 _conds_Thunderstorms with Hail          100990
 _conds_Unknown                          100990
 _conds_Volcanic Ash                     100990
 _conds_Widespread Dust                  100990
dtype: int64

In [230]:
y_pred = regressor.predict([[0,67,20]])

In [231]:
y_pred

array([1.])

In [236]:
y_pred = regressor.predict(X_test)

In [239]:
#metrics module in sklearn library have the various function to check the correctness or accuracy
from sklearn import metrics  
print("MAE", metrics.mean_absolute_error(y_test, y_pred))
print("MSE", metrics.mean_squared_error(y_test, y_pred))
print("RMSE", np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
#this function is from package sklearn.tree
print("Score:", regressor.score(X_test, y_test))

MAE 0.05782882426553192
MSE 0.028966899439270635
RMSE 0.17019664931857686
Score: 0.5367087794114732